.friendsSection {
  margin: 20px auto;
  width: fit-content;
}
.friendsItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 8px 7px 15px -2px #000000;
}
.friendsItem:not(:last-of-type) {
  margin-bottom: 15px;
}

.statusOnline {
  width: 20px;
  height: 20px;
  background-color: rgb(42, 160, 42);
  border-radius: 50%;
}

.statusOffline {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 66, 66);
  border-radius: 50%;
}
